@font-face {
	font-family: titilliumBlack;
	src: url(./fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}
.typography {
	font-family: titilliumBlack;
}


.home-search-bar {
}

.background-fancy {
	background: linear-gradient(-45deg, #ffe7e0, #ffdbe9, #eefcfb, #d9f8f1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}